[submodule "meta/tfjs-examples"]
	path = meta/tfjs-examples
	url = https://github.com/tensorflow/tfjs-examples/
[submodule "meta/node-tfjs-retrain"]
	path = meta/node-tfjs-retrain
	url = https://github.com/adwellj/node-tfjs-retrain
